---
---
<section id="top" class="hero reveal">
  <img class="hero-pic" src="/images/profile.jpg" alt="Ken Aaron De Martin" />
  <div class="hero-text">
    <p class="eyebrow">Hello, I'm</p>
    <h1>Ken Aaron De Martin</h1>
    <p class="tagline">Amateur Programmer</p>
    <div class="hero-btns">
      <button type="button" class="btn btn-primary" id="cv-open">View CV</button>
      <a class="btn btn-outline" href="#contact">Contact</a>
    </div>
    <div class="socials">
      <a href="https://github.com/kenshunn" target="_blank" rel="noreferrer">GitHub</a>
      <a href="https://twitter.com/catfroghae" target="_blank" rel="noreferrer">Twitter</a>
    </div>
  </div>
</section>
